.container_mouse {
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 2rem;
    cursor: pointer;
  }
  
  .container_mouse .mouse-btn {
    margin: 10px auto;
    width: 40px;
    height: 80px;
    border: 1px solid white;
    border-radius: 30px;
    display: flex;
  }
  
  .container_mouse .mouse-btn .mouse-scroll {
    display: block;
    width: 20px;
    height: 20px;
    background: linear-gradient(170deg, rgba(240, 240, 246, 0.918), rgb(123, 124, 124));
    border-radius: 50%;
    margin: auto;
    animation: scrolling 1s linear infinite;
  }
  
  
  @keyframes scrolling {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(20px);
    }
  }

  .snowflake {
    position: fixed;
    top: -10px;
    z-index: 9999;
    pointer-events: none;
    opacity: 0.8;
    color: #FFF;
  }